:root{
    --background-color:rgba(137, 212, 103, .5);
    --bording-color: rgba(0, 0, 0, .4);
    --link-color: 32, 43, 141;
    --box-shadow-color: 255, 255, 255;
    --box-border: 1px solid #767676;
}
*{
    cursor:default;
}
*,:after,:before{
    -webkit-box-sizing:inherit;
}
html{
    -webkit-box-sizing:border-box;
}

body{
    margin: 0;
    padding: 0;
    background: url(image/EC_background2.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: #243a22;
    color: #000;
    font-family: village;
    font-size: 130%;
}
a{
    cursor: pointer;
    -webkit-transition:color .3s;
    transition:color .3s
}


.content{
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 25px;
}


#heder{
    margin: 20px auto;
    width: 80%;
    padding: 3px;
    align-items: center;
    background: rgba(35, 70, 26, 0.301);
    border: 2px solid rgb(61, 61, 61);
    border-radius: 15px;
}
.S1{
    margin: auto;
    width: 8rem;
    background: -webkit-linear-gradient(-90deg, #eee, #555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: #444;
    text-underline-offset: 2px;
    
}
.S2{
    margin: auto;
    width: 8rem;
    background: -webkit-linear-gradient(-90deg, #91642b 10%, #fae187  50%, #5c3d14 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#side,
#mainpage{
    padding: 0.5em;
    padding-top: 0;
    box-shadow: 0 0 10px rgba(var(--box-shadow-color), 0.6);
    background-color: var(--background-color);
    border-radius: 5px;
    border: var(--box-border);
}

#side{
    width: 200px;
    padding-top: 0.7em;
    line-height: 2;
    height: fit-content;
}

#mainpage{
    min-width: 300px;
    width: auto;
    overflow: auto;
}
#mainpage section{
    display: grid;
    height: 65vh;
    justify-content: center;
    grid-row-gap: 15px;
}


#side img{
    margin-right: 10px;
    position: relative;
    top: 5px;
}
#side a{
    text-decoration: underline;
    color: rgb(var(--link-color));
    font-size: 0.8em;
}
#side a:hover{
    color: rgb(32, 32, 32);
}
#side h1{
    margin: 5px 3px;
    font-size: 1em;
    font-weight:100;
    text-decoration: underline;
    text-decoration-color: rgba(var(--link-color), 0.5);
    color: rgba(0, 0, 0, 0.7);
    text-underline-offset: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%/7em;
    box-shadow: 0 0 5px rgba(var(--box-shadow-color), 0.6);
}
#side ul{
    margin: 0;
    padding: 0;
}
#side ul li{
    list-style: none;
}
#side ul li ul{
    margin-top: 100px;
}
#side ul li ul li{
    background-color: rgba(0, 0, 0, .15);
}
#side ul li ul li p{
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
iframe{
    width: 560px;
    height: 315px;
    border: 5px double var(--bording-color);
    border-radius: 30px;
}
@media only screen and (max-width:1250px){
    iframe{
        width: 280px;
        height: 162.5px;
    }
}
hr{
    margin: 0;
    border: 0;
    height: 1px;
    background-color: var(--bording-color);
}



.click{
    cursor:pointer;
}
.list{
    position: relative;
    display: contents;
    text-align: center;
}

#hederimg{
    margin: 30px auto;
    width: 500px;
    height: 111px;
    display:flex;
    text-decoration: underline;
    color: #c0c0c0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: url('image/Lava_strip_TDS_GN.png') right center no-repeat;
    background-color: rgb(47, 124, 40);
    background-size: cover;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(51, 143, 43, 0.6);
    border: 1px solid rgba(177, 177, 177, .7);
    border-radius: 5px;
    background-size: cover;
    box-shadow: 0px 0px 30px rgb(230, 198, 15);
}
