@import "colors.css";

body{
    background: url(image/background\ image.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background: rgba(84, 141, 58, 0.836);
}
.inner_header{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(84, 141, 58, 0.836);
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container img{
    height: 50%;
    display: table-cell;
    vertical-align: middle;

}



body{
    background-color: #89e081;
    padding-top: 100px;
    padding-bottom: 60px;
    color: #000;
    font-family: village;
    font-size: 130%;
}

#mainpage{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(137, 212, 103, 0.767);
    padding: 50px;
    /*padding-top: 20px;*/
    align-content: center;

}

#mainpagewenside{
    width: 60%;
    margin: 7px auto;
    background-color: rgba(137, 212, 103, 0.767);
    padding: 50px;
    /*padding-top: 20px;*/
    align-content: absolute;
    top: auto;
    left: 1000px;

}

#mainpageside{
    width: 20%;
    margin: 7px auto;
    background-color: rgba(137, 212, 103, 0.767);
    padding: 0.5em;
    padding-left: 0.7em;
    position: absolute;
    top: auto;
    left: 100px;
}

#heder1
{
    box-shadow: 2px 2px 3px #606060;
    background: #3F9337;
    background-size: 5px 5px;
    font-size: 130%;
    font-weight: bold;
    padding: 1px; color:#ffffff;
    text-align: center;
    border-radius:10px;
    border:2px solid #AEC50B
}

a{
    color:var(--theme-link-color);
    text-decoration:none;
    -webkit-transition:color .3s;
    transition:color .3s
}
a:hover{
    color:var(--theme-link-color--hover);
    text-decoration:underline
}

/* Custom Scrollbar */
/* * Created by Anonminati (https: //wikisource.wikia.com);*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: url('image/Lava_strip_TDS_GN.png') right center no-repeat;
    background-color: rgb(37, 105, 31);
    background-size: cover;
	border-radius: 10px;
}
::-webkit-scrollbar {
	background-color: rgba(51, 143, 43, 0);
	width: 17px;
}
::-webkit-scrollbar-thumb {
	background-color: #000;
	background: /*url() center center no-repeat,*/ linear-gradient(155deg, rgb(51, 143, 43), rgba(51, 143, 43, 0.459));
	border: 4px double rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 0px 30px rgb(230, 198, 15);
}